body
{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
	background: white;
}

.banner
{
  position: fixed;
	background: black url("file:///Users/joao.nunes/Desktop/my_stuff/website/source/images/link.png") center center;
	background-size: cover;
  width: 35%;
  height: 100%;
	float: left;
	z-index: 1;
}

.content
{
	position: relative;
	background: red;
	width: 65%;
	height: 100%;
	float: right;
}

.intro
{
	position: relative;
	background: green;
	width: 60%;
	height: 100%;
	margin: 3% 3% 3% 3%;
	float: right;
}

h1, p
{
  font-family: "Courier New";
	font-size: 1.1em;
	width: 100%;
	color: #666;
	margin: 0 0 16px 0;
	float: left;
}
